.bojectify-reveal {
  animation-duration: var(--bojectify-reveal-duration);
  animation-delay: var(--bojectify-reveal-delay);
  animation-timing-function: var(--bojectify-reveal-easing);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bojectify-reveal--fade-in {
  opacity: 0;
  animation-name: bojectify-reveal-fade-in;
}

.bojectify-reveal--transform {
  transform: var(--bojectify-reveal-transform);
  animation-name: bojectify-reveal-transform;
}

.bojectify-reveal--fade-in.bojectify-reveal--transform {
  animation-name: bojectify-reveal-fade-in, bojectify-reveal-transform;
}

@keyframes bojectify-reveal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bojectify-reveal-transform {
  100% {
    transform: translate(0);
  }
}
